<h1>Welcome to Trello!</h1>
<%= image_tag 'welcome.png', class: "img-fluid" %>
<%= link_to('Sign up', new_user_registration_path) unless user_signed_in? %>
<%= link_to('Sign in', new_user_session_path) unless user_signed_in? %>
<%= link_to('Sign out', destroy_user_session_path, method: :delete) if user_signed_in? %>
<%= link_to('Dashboards', dashboards_path) %>
