<%= form_with(model: card, local: true, url: list_cards_url(list)) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :card_title, size: 40 %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :card_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
